.header {
  background-color: #225474;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  width: calc(100vw - 1rem);
}

.logo {
  background-color: #028b42;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info_user_logado {
  color: white;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.username {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.info_user_logado button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
}

.logo img {

  width: 200px;
  height: 100px;

}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 0 3rem;
}

.title hr {
  border: 1px solid;
  width: 60rem;
}

.filtros_selecionados {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: center;
}

.item_filtro{
  margin-left: 3rem;
}

.title_mural{
  margin: 3rem 0 0 31rem;
}