/* SeuEstilo.module.css */
.calendar{
  position: absolute;
  margin: 1rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #225474;
  color: #fff;

}

.header button {
  background: none;
  border: none;
  font-size: 50px;
  color: #fff;
  cursor: pointer;

}

.weekdays {
  display: flex;
  background-color: #f2f2f2;
  font-weight: bold;

}

.weekdays div {
  flex: 1;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  background-color: #808080;
  color: #fff;

}

.days {
  display: flex;
  flex-wrap: wrap;

}

.day {
  flex: 1;
  text-align: center;
  padding: 0 4rem 3rem;
  border: 1px solid #ddd;
  cursor: pointer;
  box-sizing: border-box;
}

.day:hover {
  background-color: #f5f5f5;

}

.today{
  background-color: #92ccf3;

}

.modal {
  position: absolute;
  top: 20rem;
  left: 35rem;
  transform: translate(-50%, -50%);
  z-index: 2; 
  width: 30rem;
  height: 30rem;

  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.5rem;

}

.modal_infos{
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin: 0 3rem;
}

.modal_title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.modalButtons{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  
}

.modalButtons button{
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: #225474;
  color: #fff;
  cursor: pointer;

}

.modal input {
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.modal textarea{
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  height: 4rem;
  
}

.reminder{
  display: flex;
  flex-direction: column;
  font-size: 16px;
  background-color: #225474;
  color: #fff;
}
.reminder button{
  border: 0.5px solid black;
  color: #000000;
  cursor: pointer;
}

.reminder_buttons{
  display: flex;
  flex-direction: column;


}






